<section id="weather">
  <!-- custom bg  -->
  <app-bg></app-bg>

  <div class="container weather">
    <input
      [(ngModel)]="query"
      type="text"
      name="text"
      placeholder="Enter town here..."
      (keyup)="onInput($event)"
    />
    <div *ngIf="weather" class="result">
      <span class="location">{{ weather.town }}, {{ weather.country }}</span>
      <span class="value">{{ weather.temperature }}</span>
      <span class="description">{{ weather.description }}</span>
      <span class="date">{{ formatDate() }}</span>
    </div>
  </div>
</section>
