nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 20px;
}

a {
  font-size: 1.2em;
  font-weight: bolder;
}

a span {
  padding: 2px;
  border: 2px solid;
}
